body {
  /*background-image: url("../../img/background.jpg");*/
  background-color: #d3d3d3;
}
.header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: center;
}
.header-links{
  display: none;
  font-size: small;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #000080;
  font-weight: 100;
  height: 30px;
}
.mobile-header {
  width: 75%;
  display: flex;
  justify-content: space-around;
}
li {
  display: flex;
  justify-content: center;
}

/* The side navigation menu */
.sidenav {
    text-transform: uppercase;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 10000;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #333333;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* The navigation menu links */
.sidenav a {
  margin: 20px 0 0px 0;
  text-decoration: none;
  font-size: 24px;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: -webkit-center;
  font-weight: 100;
  line-height: 2;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #7CFC00;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: -13px;
  right: 32px;
  font-size: 38px;
  margin-left: 50px;
  width: initial;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.sub-nav {
color: white;
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
cursor: pointer;
transition: .3s;
text-decoration: none;
margin: 0 12px 0 12px;
}
.sub-nav a:hover {
  color: #e8d4d4;
  text-decoration: underline;
  height: 24px;
}

.hamburger-icon {
  font-size: 24px;
  color: #545554;
  text-decoration: none;
  z-index: 1000;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: inherit;
}
